body {
    font-family: 'Open Sans', sans-serif;
    background-color: darkgray;
    color: white;
    min-height: 80vh;
}

.width-100 {
    width: 100% !important;
}

.text-center {
    text-align: center;
}

#myCanvas,
#myCanvas2,
#myCanvas3 {
    border-radius: 5px;
    margin: 0px 12px;
}

#myCanvas {
    background-color: lightcyan;
}

#myCanvas2 {
    background-color: lightgreen;
}

#myCanvas3 {
    background-color: lightcoral;
}

#characterImage{
    display: none;
}